@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Anton&display=swap');


.login_template_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
    column-gap: 3rem;
    overflow: hidden;
    margin-top: 5rem;

}

main , .login_template_container , .card-body{
    background-color: hsl(var(--hue),var(--sat),98%) !important;
}

.logo_part img {
    width: 250px;
}

.logo_part h2 {
    color: #0c1348;
    margin: 1rem 0;
    font-size: 35px;
}


.logo_part a {
    text-decoration: none;
    color: #0c1348 !important;
    font-size: 18px;
}

.form_page form {
    width: 100%;
    padding: 1.5rem;
    background-color: #0c1348;
    color: white;
    border-radius: 25px;
}

.form_page h1 {
    margin-bottom: 4rem;
}

.form_page .form-group {
    margin-bottom: 1rem;
    display: grid;
    row-gap: 15px;
}

.form_page .form-group label {
    font-weight: bold;
    font-size: 16px;
}

.form_page .form-group input {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 10px;
}
.form_page .form-group input:focus {
    border: 1px solid #afafaf !important;
}
.form_page .form-group input:hover {
    border: 1px solid #afafaf;
}

.form_page .form-group input::placeholder {
    color: white;
}

.form_page button {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: white;
    color: #0c1348;
    border: none;
    padding: .7rem;
}

.form_page button:hover {
    background-color: #afafaf !important;
    color: white !important;
}

.o_website_btn_loading {
    background-color: #afafaf !important;
    color: white !important;
}

.form_page a {
    color: white;
    font-size: 12px;
}

.custom_reset_password h2 {
    margin-bottom: 1rem;
    color: white;
}


.form_page p {
    margin-bottom: 3rem;
}


.alert-success {
    margin-bottom: 1rem !important;
}


@media screen and (max-width: 768px) {
    .login_template_container {
        display: flex !important;
        flex-direction: column-reverse;
    }

    .login_template_container .form_page {
        max-width: 500px !important;
    }

    .login_template_container .logo_part {
        margin-top: 2rem;
    }

    .login_template_container .logo_part img {
        width: 200px;
    }

    .login_template_container .logo_part h2 {
        font-size: 25px;
    }

    .login_template_container .logo_part a {
        font-size: 15px;
    }
}


.btn-auth {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: white;
    color: #0c1348;
    border: none;
    padding: .7rem;
}

.btn-auth:hover {
    background-color: #afafaf !important;
    color: white !important;
}