.assis_title {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.minutes {
    font-weight: bold;
    color: #0c1348 !important;
    font-size: 15px;
}

.minutes-red {
    font-weight: bold;
    color:#FF0000 ;
    font-size: 15px;
}

.sp-between {
    justify-content: space-between;
}

.o-mail-Message-body {
    font-size: 17px;
}




.list li::before {
    content: "\2022";
    color: #0c1348;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

